<nav class="navbar navbar-expand-lg bg-primary " style="font-weight: bold;">
    <div class="container-fluid" style="margin-left: 146px;">
        <a class="navbar-brand textwhite" href="">E-shop</a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <form class="d-flex" role="search">
            <input class="form-control me-2" style="width: 389px;" type="search"
                placeholder="Search for products, brands and more" aria-label="Search">
            <!-- <input class="form-control me-2" type="search" placeholder="Search for products,brands and more" aria-label="Search"> -->
            <!-- <button class="btn btn-outline-success bg-white leftspace" type="submit">Login</button> -->
            <!-- <button type="button" class="btn  bg-white ms-2 " type="submit"
                style="--bs-btn-padding-y: 0.25rem;--bs-btn-padding-x: 2.5rem;--bs-btn-font-size: 0.75rem;height: fit-content; margin-top:5px">
                Login </button> -->
            <button class="btn  bg-white ms-2 loginbtn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                type="button" style="font-weight: bolder;color: royalblue;">Login
            </button>
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active textwhite leftspace" aria-current="page" href="#">Bacome a Seller</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle textwhite leftspace" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active textwhite leftspace" aria-current="page" href="#"><i
                            class="bi bi-cart"></i>&nbsp; Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>